DIV {
	WORD-BREAK: break-all
}
A:link {
	FONT-SIZE: 9pt; COLOR: #3a5066; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #3a5066; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #acce1c; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16pt; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 35px 0px 0px 10px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ff7a00; BORDER-BOTTOM: #758687 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H2.diaryTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
H3 {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN: 5px 0px; COLOR: #555f63; PADDING-TOP: 3px; BORDER-BOTTOM: #758387 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
H4 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 10px; COLOR: #acce1c; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 24pt; MARGIN: 30px; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #dddddd; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #dddddd; CURSOR: url(' http://a5877088.blogbus.com/files/1117545679.ani '); SCROLLBAR-SHADOW-COLOR: #dddddd; COLOR: #555f63; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #333333; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #e8e8e8; FONT-FAMILY: Arial,Helvetica,sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #999999; BACKGROUND-COLOR: #adbfd8; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt
}
DIV#container {
	BORDER-RIGHT: #94a6bd 5px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 5px 95px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://blog.blogchina.com/template/template31/img/bgimg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px auto; BORDER-LEFT: #94a6bd 5px solid; WIDTH: 780px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #adbfd8
}
DIV#header {
	BORDER-RIGHT: #dedede 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -10px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://blog.blogchina.com/template/template31/img/bj.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #dedede 1px solid; WIDTH: 778px; PADDING-TOP: 0px; BORDER-BOTTOM: #dedede 1px solid; HEIGHT: 90px
}
.textStyle {
	BORDER-RIGHT: #3a5066 1px solid; BORDER-TOP: #3a5066 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #3a5066 1px solid; WIDTH: 430px; COLOR: #000000; BORDER-BOTTOM: #3a5066 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #f7f7f7; TEXT-DECORATION: none
}
INPUT {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; MARGIN-TOP: 5px; FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; LINE-HEIGHT: 18px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #395163; TEXT-DECORATION: none
}
INPUT.inputStyle {
	BORDER-RIGHT: #3a5066 1px solid; BORDER-TOP: #3a5066 1px solid; FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; BORDER-LEFT: #3a5066 1px solid; COLOR: black; BORDER-BOTTOM: #3a5066 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.entity {
	BORDER-RIGHT: #63616b 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #63616b 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px 10px; BORDER-LEFT: #63616b 1px solid; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #63616b 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: left
}
DIV#category {
	BORDER-RIGHT: #758387 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #758387 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px 10px; BORDER-LEFT: #758387 1px solid; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #758387 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 32px; BACKGROUND-COLOR: #f7f7f7
}
DIV#category A:link {
	FONT-SIZE: 11pt; COLOR: #3a5066; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#category A:visited {
	FONT-SIZE: 11pt; COLOR: #3a5066; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#category A:hover {
	FONT-SIZE: 11pt; COLOR: #acce1c; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
DIV.operation {
	BORDER-RIGHT: #63616b 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #63616b 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px 10px; BORDER-LEFT: #63616b 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #63616b 1px solid; TEXT-ALIGN: center
}
P {
	FONT-SIZE: 16pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center
}
P.comment {
	MARGIN: 10px 0px 10px 30px
}
P.diaryFoot {
	PADDING-RIGHT: 2px; BORDER-TOP: #758687 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #ff7a00; PADDING-TOP: 2px; HEIGHT: 10px; TEXT-ALIGN: right
}
P.trackback {
	FONT-STYLE: italic
}
TABLE.comment {
	MARGIN-LEFT: 130px; WIDTH: 570px
}
DIV#footer {
	PADDING-RIGHT: 5px; BORDER-TOP: #5b6877 5px solid; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://blog.blogchina.com/template/template31/img/bj-2.jpg); PADDING-BOTTOM: 0px; WIDTH: 788px; MARGIN-RIGHT: 0px; PADDING-TOP: 10px; HEIGHT: 30px; TEXT-ALIGN: center
}
DIV#footer A:link {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#footer A:visited {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#footer A:hover {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
IMG.logo {
	MARGIN: 5px 15px -3px 0px
}
DIV.operation {
	
}
